.loginForm {
    position: absolute;
    right: 10px;
    text-align-last: right;
    font-size: small;
}

.loginForm .emailGroup {
    position: relative;
    top: 5px;
    right: 310px;
}

.loginForm .passwordGroup {
    position: absolute;
    top: 5px;
    right: 70px;
    left: -50px;
}

.loginForm .loginBtn {
    position: absolute;
    top: 5px;
    bottom: -5px;
    right: 0px;
}

.passwordGroup {
    border-top-left-radius: 5px;;
}