$font: 'Proxima Nova', sans-serif;
$pri-color: white;

@mixin background {
  background-image:
    linear-gradient(rgba(68, 56, 65, 0.28),
      rgba(68, 56, 65, 0.28)),
    url('../../Images/splash.jpg');
  background-size: cover;
}

.page {
  border: 3px solid blue;
  @include background;
  font-family: $font;
  color: $pri-color;
  display: flex;
}

.login {
  border: 3px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.splash {
  border: 3px solid red;
}

.brand {
  border: 3px solid yellow;
}
