header {
    position: relative;
    margin-top: 1%;
    background-color: #DEF5E5;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 1;
}
