:root {
    --clr: #9ED5C5;
  }
  
  @mixin bigLogo {
    width: 100px;
    border: 3px;
    top: 10px;
    left: 60px;
  }
  
  .tempLogo img {
    position: absolute;
    top: -25px;
    left: 20px;
    width: 50px;
    border-radius: 30%;
    transition: .3s;
    border: 5px solid var(--clr);
    z-index: 2;
  }
  
  .emptyNavLogo li {
    list-style: none;
    opacity: 1;
  }
  
  .emptyNav .emptyNavLogo li .tempLogo img {
    @include bigLogo();
  }
  
  .emptyIndicator {
    position: absolute;
    top: 0px;
    left: 50px;;
    width: 120px;
    height: 120px;
    background: #DEF5E5;
    border-radius: 30%;
    border: 6px solid var(--clr);
    transition: .3s; 
  }
  
  .emptyLogo {
    opacity: 0;
  }
  
  .emptyNav {
    display: flex;
    position:relative;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 60px;
    background: #9ED5C5;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  
