
:root {
    --clr: #9ED5C5;
}

@mixin littleIndicator {
    width: 55px;
    height: 55px;
}

@mixin bigLogo {
    width: 100px;
    border: 3px;
}

.icon img {
    width:45px;
}

.logo img {
    position: absolute;
    top: -25px;
    left: 16px;
    width: 70px;
    border-radius: 30%;
    transition: 1s;
    border: 5px solid var(--clr);
}

.navigationLogo li {
    list-style: none;
    opacity: 1;
}

.navigationLogo li.active .logo img {
    @include bigLogo();
    transition: 1s;

}

.navigationLogo li a .text{
    position: relative;
    display: block;
    transform: translate(45px, -40px);
    color: primary;
    opacity: 0;
}

.navigationLogo li a .text{
    position: relative;
    display: block;
    transform: translate(45px, -40px);
    color: primary;
    opacity: 0;
}

.indicator {
    position: absolute;
    top: -60%;
    left: 10px;;
    width: 100px;
    height: 100px;
    background: #DEF5E5;
    border-radius: 30%;
    border: 6px solid var(--clr);
    transition: .3s; 
}


.navigation {
    display: flex;
    position:relative;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 50px;
    background: #9ED5C5;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navigation ul {
    display:flex;
    width: 100%;
    padding: 0px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    z-index: 1;
    left: 200px;
    margin: 30px; 
}

.navigation ul li a {
    position: relative;
    display: flex;
    align-items:center;
    flex-direction: column;
    width: 50px;
    height: 45px;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    width: 50px;
    height: 45px;
    transition: 0.5s;
    color: var(--clr);
}

.navigation ul li.active a .icon {
    transform: translateY(35px); 
}

.navigation ul li.active:hover a .icon {
    transform: translateY(33px); 
}

.navigation ul li:hover a .icon {
    transform: translateY(3px); 
}

.navigation ul li:hover a .icon ~ .text {
    transform: translateY(-2.5px); 
}

.navigation ul li a .text {
    position: absolute;
    color: black;
    font-weight: 400em;
    letter-spacing: 0.05em;
    transition: .45s;
    opacity: 0;
    transform: translateY(-50px);
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(-0px);
}

.navigation ul li:nth-child(1).active ~ .indicator {
    @include littleIndicator;
    transform: translate(212px, 85%);  
}

.navigation ul li:nth-child(2).active ~ .indicator {
    @include littleIndicator;
    transform: translate(212px + (110 * 1), 85%);
}

.navigation ul li:nth-child(3).active ~ .indicator {
    @include littleIndicator;
    transform: translate(212px + (110 * 2), 85%);
}

.navigation ul li:nth-child(4).active ~ .indicator {
    @include littleIndicator;
    transform: translate(212px + (110 * 3), 85%);
}