:root {
    --clr: #9ED5C5;
}

.icon img {
    width:45px;
}

.logo img {
    position: absolute;
    top: 0px;
    left: 40px;
    width:100px;
    border-radius: 30%;
}

.indicator {
    position: absolute;
    top: -60%;
    left: 10px;;
    width: 100px;
    height: 100px;
    background: #DEF5E5;
    border-radius: 30%;
    border: 6px solid var(--clr);
    transition: .3s; 
}


.navigation {
    display: flex;
    position:relative;
    width: 100%;
    height: 50px;
    background: #9ED5C5;
    // justify-content: center;
    // align-items: center;
    border-radius: 10px;
}

.navigation ul {
    display:flex;
    flex-direction:row;
    width: 100%;
    padding: 0px;
    width: 100%;
    // margin-right: auto;
    background-color: red;
}

.navigation ul li {
    justify-content: center;
    justify-content: space-between;
    flex: 1 1 auto;
    list-style: none;
    align-items: center;
    height: 45px;
    z-index: 1;
    background-color: greenyellow;
}

// .navigation ul li a {
//     position: relative;
//     background-color: purple;
//     display: flex;
//     left: 200px;
//     align-items:center;
//     flex-direction: column;
//     width: 50px;
//     height: 45px;
//     text-align: center;
//     font-weight: 500;
// }

// .navigation ul li a .logo {
//     position: absolute;
//     display: block;
//     right: 373px;
//     top: -50%;
//     line-height: 50px;
//     font-size: 1.5em;
//     text-align: center;
//     transition: 0.5s;
//     color: var(--clr);
// }

// .navigation ul li a .icon {
//     position: relative;
//     display: block;
//     line-height: 50px;
//     font-size: 1.5em;
//     text-align: center;
//     transition: 0.5s;
//     color: var(--clr);
//     background-color: black;
// }

// .navigation ul li.active a .icon {
//     transform: translateY(33px); 
// }

// .navigation ul li.active:hover a .icon {
//     transform: translateY(33px); 
// }

// .navigation ul li:hover a .icon {
//     transform: translateY(3px); 
// }

// .navigation ul li a .text {
//     position: absolute;
//     color: black;
//     font-weight: 400em;
//     letter-spacing: 0.05em;
//     transition: .45s;
//     opacity: 0;
//     transform: translateY(-50px);
// }

// .navigation ul li.active a .text {
//     opacity: 1;
//     transform: translateY(-20px);
// }

// .navigation ul li:nth-child(1).active ~ .indicator {
//     transform: translateX(calc(150px * 0));   
// }

// .navigation ul li:nth-child(2).active ~ .indicator {
//     top: 25px;
//     width:50px;
//     height:50px;
//     transform: translateX(200%)
// }

// .navigation ul li:nth-child(3).active ~ .indicator {
//     top: 25px;
//     width:50px;
//     height:50px;
//     transform: translateX(200%)
// }

// .navigation ul li:nth-child(4).active ~ .indicator {
//     top: 25px;
//     width:50px;
//     height:50px;
//     transform: translateX(300%)
// }
