$font: 'Proxima Nova', sans-serif;
$pri-color: white;

@import url('https://fonts.googleapis.com/css2?family=Rochester&family=Yellowtail&display=swap');

@mixin background {
  background-image:
    linear-gradient(rgba(68, 56, 65, 0.28),
      rgba(68, 56, 65, 0.28)),
    url('../../Images/splash.jpg');
  background-size: cover;
}

.carousel-inner {
  overflow: hidden;
  position: relative;
  height: 75vh;
  text-align: center;

  .images {
    margin: 1.2rem;
    width: 60vw;
    border-radius: 10px;
  }
}

// .info {
//   @include background;
// }

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
