$font: 'Proxima Nova', sans-serif;
$pri-color: white;
@import url('https://fonts.googleapis.com/css2?family=Rochester&family=Yellowtail&display=swap');

@mixin background {
  background-image:
    linear-gradient(rgba(68, 56, 65, 0.28),
      rgba(68, 56, 65, 0.28)),
    url('../../Images/splash.jpg');
  background-size: cover;
}

.carousel {
  // border: 3px solid red;
  top: 100px;
  top: 130px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.appTitle {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 110px;
  font-size: 110px;
  color: #81C7B3;
}

.page {
  // border: 3px solid blue;
  @include background;
  font-family: $font;
  color: $pri-color;
  display: flex;
}

.login {
  // border: 3px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 15px;
}