footer {
    background-color: peachpuff;
}

footer {
    margin-top: auto;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    border-top-left-radius: 30px;
    border: 6px solid var(--clr);
    background-color: #DEF5E5;
    z-index: 0;
}

.footerInfo {
    align-items: center;
  }

.footerInfo ul {
    display: flex;
    width: 100%;
    padding: 0px;
}

.footerInfo ul li {
    position: relative;
    list-style: none;
    z-index: 1;
    align-content: center;
    top: auto;
    margin: 30px auto;
}

.imageContainer {
    left: 50%;
    max-width: 200px;
    height: 200px;
}

.footerInfo ul li .footerTitleText {
    position: relative;
    font-weight: 600;
    width: auto;
  }

.imageContainer img {
    width: 100%;
    height: auto;
    border: 6px solid #9ED5C5;
    border-radius: 10px;
}

.imageContainer p {
    text-align: center;
    margin-top: 5px;
    font-weight: 600;
    line-height: 15px;
    margin-bottom: 10px;
}

